@use 'variables' as *;

.custom-button {
  @include button-base;

  &:not(.header-icon-button) {
    @include button-hover;
    @include button-active;

    &.icon-only {
      @include button-icon;
    }
  }

  &.header-icon-button {
    color: $secondary-color;
    padding: 0;
    width: 30px;
    height: 30px;

    &:hover {
      color: $hover-color;
      transform: scale(1.2);
    }

    .button-icon {
      width: 20px;
      height: 20px;
    }
  }

  .button-icon {
    transition: inherit;
    width: $icon-size;
    height: $icon-size;
  }

  .button-text {
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
