.site-header {
  width: 100vw;
  padding: 10px 0;
  background-color: white;
  border-bottom: 1px solid #dee2e6;

  .header-content {
    display: flex;
    align-items: center;
    gap: 20px;
    //max-width: 1300px; // Можно задать максимальную ширину контента
    margin: 0 auto;
    padding: 0 15px;
  }

  .logo-container {
    flex-shrink: 0;
    width: 120px; // Фиксированная ширина для логотипа
    display: flex;
    justify-content: center;

    img {
      height: 44px;
      width: auto;
    }
  }

  .search-container {
    flex-grow: 1;
    min-width: 200px; // Минимальная ширина поисковой строки
  }

  .buttons-container {
    display: flex;
    align-items: center;
    gap: 0;
    padding-right: 15px;
  }
}