// Файл variables.scss:
// Цвета
$primary-color: #06A561;
$secondary-color: #454545;
$text-color: #333;
$text-color-light: #efefef;
$placeholder-color: #aeaeae;
$background-color: #efefef;
$hover-color: #202020;

$button-default-color: #F7F7F7;
$button-hover-color: #F2F2F2;
$button-active-color: #E6E6E6;

$button-active-default-color: #06A561;
$button-active-hover-color: #07be6f;
$button-active-press-color:#068c53;

$border-color: #E6E6E6;
$border-error-color: #ff0000;

// Радиусы и размеры
$border-radius: 6px;
$border-radius-large: 8px;
$button-min-width: 32px;
$button-min-height: 32px;
$icon-size: 1em;
$button-padding: 8px 12px;
$font-size-small: 14px;

// Переходы
$transition: all 0.2s ease;

// Миксины
@mixin button-base {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border: 1px solid $border-color;
  background-color: $background-color;
  color: $primary-color;
  font-weight: 500;
  border-radius: $border-radius;
  transform: scale(1);
  transition: $transition;
  padding: $button-padding;
  margin: 0 4px;
  font-size: $font-size-small;
  line-height: 1;
}

@mixin button-hover {
  &:hover, &:focus {
    background-color: $primary-color;
    border-color: $primary-color;
    color: white;
    box-shadow: none;
    transform: scale(1.05);
  }
}

@mixin button-active {
  &.active {
    background-color: $primary-color !important;
    border-color: $primary-color !important;
    color: white !important;
  }
}

@mixin button-icon {
  padding: 0;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;

  .button-icon {
    width: $icon-size;
    height: $icon-size;
  }
}

@mixin search-bar-focus {
  .form-control {
    height: 38px;
    border: 1px solid $border-color;
    border-right: none;
    padding: 6px 12px;
    font-size: $font-size-small;
    transition: $transition;

    &:focus {
      box-shadow: none;
      border-color: $primary-color;
    }

    &::placeholder {
      color: $placeholder-color;
    }
  }

  .btn {
    background-color: white;
    border: 1px solid $border-color;
    color: $primary-color;
    width: 38px;
    height: 38px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $transition;

    &:hover {
      background-color: $primary-color;
      border-color: $primary-color;
      color: white;
    }

    &:focus {
      box-shadow: none;
      border-color: $primary-color;
    }
  }
}

@mixin form-control-base {
  height: 38px;
  border: 1px solid $border-color;
  padding: 6px 12px;
  font-size: $font-size-small;
  border-radius: $border-radius-large;
  transition: $transition;

  &:focus {
    box-shadow: none;
    border-color: $primary-color;
  }

  &::placeholder {
    color: $placeholder-color;
  }
}
