@use '../../../styles/variables' as *;

.custom-input {
  position: relative;
  width: 100%;

  .form-control {
    @include form-control-base; // Подключаем общий стиль

    &:hover {
      border-color: $primary-color;
    }
  }
}
